<ion-view id="Home" hide-nav-bar="true" view-title="behindCode">
   <ion-header-bar class="bar-energized">
       <h1 class="title">behindCode</h1>
   </ion-header-bar>
    <ion-content padding="true" scroll="true">
        <ion-list class="card">
           <ion-item class="item-divider" style="text-align:center;">
               <h1 class="title">Bienvenido</h1>
           </ion-item>
            <ion-item class="item-image">
                <img src="img/home.jpg">
            </ion-item>
            <ion-item class="item-body">
                <p>
                    behindCode es una aplicación hecha por alumnos del Instituto Tecnológico de Chihuahua II, que busca enseñarte a programar con temas que te ayudaran a mejorar tu habilidad lógica que es necesaria a la hora de programar.
                </p>
            </ion-item>
            <ion-item class="button-bar">
                <button ui-sref="signUp" class="button button-calm button-block">Registrate</button>
                <button ui-sref="login" class="button button-calm button-block">Inicia Sesion</button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>