<ion-view view-title="Registro" id="SignUp">
    <ion-content scroll="true">
        <form id="signUpForm" ng-submit="signUp()">
            <ion-list>
               <label class="item item-input item-floating-label">
                    <span class="input-label">Nombre(s)*</span>
                    <input type="text" placeholder="Nombre(s)*" name="nombre" id="nombre">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Apellido(s)*</span>
                    <input type="text" placeholder="Apellido(s)*" name="apellidos" id="apellidos">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Telefono</span>
                    <input type="tel" placeholder="Telefono" name="tel" id="telefono">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Correo*</span>
                    <input type="email" placeholder="Correo*" name="email" id="correo">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Usuario*</span>
                    <input type="text" placeholder="Usuario*" name="user" id="usuario">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Contraseña*</span>
                    <input type="password" placeholder="Contraseña*" name="pass" id="contrasena">
                </label>
                <input type="submit" class="button button-calm button-block">
                <a class="subdued">* Campo requerido</a>
            </ion-list>
        </form>
    </ion-content>
</ion-view>