<ion-view>
    <ion-nav-title>{{temas.titulo}}</ion-nav-title>
    <ion-content>
        <ion-list>
            <ion-item class="item-thumbnail-left item-icon-right aprender" ng-repeat="item in temas.subtemas" href="#/temas/subtemas/datos/{{item.id}}" ng-click="reload()">
                <img ng-src="{{item.imagen}}">
                <h2 class="calm">{{item.titulo}}</h2>
                <p>{{item.descripcion}}</p>
                <i class="icon ion-chevron-right"></i>
            </ion-item>
            <ion-item class="item-thumbnail-left item-icon-right aprender" href="#/temas/subtemas/examen/{{item.id}}">
                <img ng-src="img/test.png">
                <h2 class="calm">Examen</h2>
                <p>Se evaluara lo aprendido sobre los temas vistos.</p>
                <i class="icon ion-chevron-right"></i>
                <span class="badge badge-assertive" ng-show="terminado">Calificacion: {{calificacion}}</span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>