<ion-tabs class="tabs-icon-top tabs-striped tabs-background-dark tabs-color-positive">
    <ion-tab icon="ion-document-text" title="Contenido" href="#/tab/datos/{{idDato}}">
        <ion-nav-view name="tab-datos"></ion-nav-view>
    </ion-tab>
    <ion-tab icon="ion-android-apps" title="Tabla de Verdad" href="#">
        <ion-nav-view name="tab-comunidad"></ion-nav-view>
    </ion-tab>
    <ion-tab icon="ion-person" title="Ejemplo" href="#">
        <ion-nav-view name="tab-ejemplo"></ion-nav-view>
    </ion-tab>
</ion-tabs>