<ion-view id="details" hide-nav-bar="true">
    <ion-content>
        <div class="list card" style="margin:0;padding:0;">
            <div class="item item-body">
               <div class="item item-divider">
                   <h1 class="title">More good quotes from The Big Lebowski</h1>
               </div>
                <div class="item item-image">
                    <img src="img/news.jpg" class="full-image">
                    <p>informacion</p>
                </div>
                <h1 class="title">The dude meets</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis dignissimos dolore, facilis nam earum obcaecati sapiente iusto, fuga eos iste voluptates perspiciatis saepe maiores laboriosam aperiam distinctio, magnam animi quisquam!
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>