<ion-view id="home">
    <ion-content style="text-align:center;">
        <br><br><br><br><br>
        <h1 class="center">The latest news, tailored just for you</h1>
        <br><br><br><br><br>
        <button class="button button-positive center" ui-sref="login">Sign in with Email</button>
        <br><br><br>
        <a href="">I forgot my login information</a>
    </ion-content>
    <ion-footer-bar class="align-title" style="padding:0;">
        <button class="button button-calm button-full" style="margin:0;" ui-sref="signup">Sign Up</button>
    </ion-footer-bar>
</ion-view>