<ion-view view-title="Popular" id="tab-news">
    <ion-content>
        <div class="list card">
            <a href="#/details" class="item item-body">
                <img src="img/news.jpg" class="full-image">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis dignissimos dolore, facilis nam earum obcaecati sapiente iusto, fuga eos iste voluptates perspiciatis saepe maiores laboriosam aperiam distinctio, magnam animi quisquam!
                </p>
            </a>
        </div>
        <div class="list text-wrap">
            <a href="#/details" class="item item-thumbnail-left item-text-wrap">
                <img src="img/news.jpg">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus dolor ipsum asperiores itaque quos explicabo doloribus ab error necessitatibus illum consequuntur, quas. At, velit. Minima placeat, provident voluptates odit in.</p>
            </a>
        </div>
        <div class="list text-wrap">
            <a href="#/details" class="item item-thumbnail-left item-text-wrap">
                <img src="img/news.jpg">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus dolor ipsum asperiores itaque quos explicabo doloribus ab error necessitatibus illum consequuntur, quas. At, velit. Minima placeat, provident voluptates odit in.</p>
            </a>
        </div>
        
    </ion-content>
</ion-view>