<ion-view id="login" view-title="Sign Up">
    <ion-content style="text-align:center;">
        <br><br>
        <h1 class="title">Create a free account in seconds</h1>
        <br><br>
        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="User">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Password">
            </label>
        </div>
        <a href="">I forgot my login information</a>
    </ion-content>
    <ion-footer-bar class="align-title" style="padding:0;">
        <button class="button button-calm button-full" style="margin:0;" ui-sref="tab.news">Sign Me Up!</button>
    </ion-footer-bar>
</ion-view>