<!--Crea pestanas con un color oscuro de fondo -->
<ion-tabs class="tabs-icon-top tabs-striped tabs-background-dark tabs-color-stable">
  <!--Se crea la pestana con la vista dentro pero esta no se muestra en las pestanas-->
    <ion-tab icon="ion-ios-paper" title="News" href="#/tab/news">
        <ion-nav-view name="tab-news"></ion-nav-view>
    </ion-tab>
    <ion-tab icon="ion-ios-paper" title="News" href="#/tab/news">
        <ion-nav-view name="tab-news"></ion-nav-view>
    </ion-tab>
    <ion-tab hidden="true" href="#/tab/details">
        <ion-nav-view name="tab-datails"></ion-nav-view>
    </ion-tab>
</ion-tabs>